
#questions-container{
  width: 100%;
}

#search{
  display: flex;
  justify-content: center;
  width: 100%;
}

#add-button{
  justify-self: flex-start;
}

#results-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  margin:30px ;
}

#question-detail{
  min-height: 100vh;
}

#question-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#question-header > *{
  margin: 0;
}

#action-bar{
  width: 100%;
  display: flex;
  justify-content: end;
}
.section-name{
  text-align: start;
}

.date{
  text-align: end;
}

#question-section{
  margin-top: 25px;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#question-section img{
  width: 100%;
  max-height: 800px;
}

#answer-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#answer-section{
  margin-top: 25px;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#no-section{
  margin-top: 25px;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  opacity: 0.5;
  width: 100%;
}

#comments-section{
  margin-top: 25px;
  min-height: 50vh;
  width: 100%;
}

#comments-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.comment{
  background-color: #93B1A6;
  margin-top: 15px;
  padding: 15px;
  border-radius: 25px;
  height: fit-content;
  overflow: auto;
}


.comment .user-tag{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.comment .user-tag .action-bar{
  width: 100%;
  text-align: end;
}

.comment button{
  position: relative;
  justify-self: flex-end;
}

#comment-form{
  display: flex;
  justify-content: center;
}

#comment-form div{
  width: 80%;
}

