
#questions-container{
  width: 100%;
}
#search{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

#add-button{
  justify-self: flex-start;
}

#results-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  margin:30px ;
}

